@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&family=Poppins:wght@400;500;600;700;800&display=swap");
@import "tailwindcss";

:root {
  --background: #fff;
  --font-heading: "Poppins", sans-serif;
  --font-body: "Nunito", sans-serif;
  --font-fancy: "Playfair Display", serif;

  --primary-color: #004E89;
  --light-primary-color: #1A659E;
  --secondary-color: #ff6b35;
  --light-secondary-color: #f7c59f;
  --tertiary-color: #EFEFD0;
  --first-contrast-color: yellow;
  --contrast-color: #20C2C2;
  --light-color: #FDF6F8;
  --dark-color: #0B1E34;

  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;

  --text-height: 1.6;
  --underline: underline var(--contrast-color);
  --header-height: 80px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
  line-height: var(--text-height);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}